PORT=4002
APP_NAME=online-learning-course
APP_ENV=
DATABASE_URL=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_NAME=
JWT=
KAFKA_NAME=
KAFKA_HOST=
KAFKA_USER=
KAFKA_PASSWORD=
KAFKA_BROKER=
KAFKA_SCHEMA_REGISTRY=
KAFKA_TOPIC=
PAYMENT_EVENT=